{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 200,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "parser": "typescript"
}
